rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow client to create a user document with only email and display name if authenticated
      allow create: if (request.auth != null && request.auth.uid == userId && request.resource.data.keys().hasOnly(['email', 'displayName']) && request.resource.data.keys().hasAll(['email']));

      allow read: if request.auth != null && request.auth.uid == userId;

      allow update: if (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['email', 'displayName']));

      match /properties/{propertyId} {
        allow read, update, delete, create: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}